.base-ui__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	&:disabled {
		cursor: not-allowed;
	}
}