@use '../_sass/functions' as f;

@layer base {
	:root {
		// * Colors
		--color-primary: #{f.hexToRgbColors(#C5EDFF)};
		--color-primary-accent: #{f.hexToRgbColors(#00497B)};
		--color-primary-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-secondary: #{f.hexToRgbColors(#4b5563)};
		--color-secondary-accent: #{f.hexToRgbColors(#eff8ff)};
		--color-secondary-foreground: #{f.hexToRgbColors(#F8F9FA)};

		--color-success: #{f.hexToRgbColors(#ADEDE0)};
		--color-success-accent: #{f.hexToRgbColors(#004D40)};
		--color-success-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-info: #{f.hexToRgbColors(#C5EDFF)};
		--color-info-accent: #{f.hexToRgbColors(#004D83)};
		--color-info-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-warning: #{f.hexToRgbColors(#FFE4B3)};
		--color-warning-accent: #{f.hexToRgbColors(#7B2C00)};
		--color-warning-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-help: #{f.hexToRgbColors(#D3C5FF)};
		--color-help-accent: #{f.hexToRgbColors(#4B0082)};
		--color-help-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-danger: #{f.hexToRgbColors(#FFB3B3)};
		--color-danger-accent: #{f.hexToRgbColors(#620000)};
		--color-danger-foreground: #{f.hexToRgbColors(#1B1C1D)};

		--color-light: #{f.hexToRgbColors(#F8F9FA)};
		--color-light-foreground: #{f.hexToRgbColors(#1B1C1D)};
		--color-light-accent: #{f.hexToRgbColors(#F8F9FA)};
		
		--color-dark: #{f.hexToRgbColors(#1B1C1D)};
		--color-dark-foreground: #{f.hexToRgbColors(#F8F9FA)};
		--color-dark-accent: #{f.hexToRgbColors(#1B1C1D)};

		--color-background: #{f.hexToRgbColors(#F8F9FA)};
		--color-background-foreground: #{f.hexToRgbColors(#1B1C1D)};
		--color-background-accent: #{f.hexToRgbColors(#DFE6E9)};

		// * Util Colors
		--color-border: #{f.hexToRgbColors(#DFE6E9)};
		--color-input: #{f.hexToRgbColors(#DFE6E9)};

		// * Chart Colors

		.dark {
			--color-background: #{f.hexToRgbColors(#1B1C1D)};
			--color-background-foreground: #{f.hexToRgbColors(#F8F9FA)};
			--color-background-accent: #{f.hexToRgbColors(#333333)};

			// * Util Colors
			--color-border: #{f.hexToRgbColors(#333333)};
			--color-input: #{f.hexToRgbColors(#333333)};
		}
	}
}
