@use '../_sass/functions' as f;

@layer base {
	:root {
		--color-light: #{f.hexToRgbColors(#ffffff)};
		--color-light-foreground: #{f.hexToRgbColors(#1b1c1d)};
		--color-light-accent: #{f.hexToRgbColors(#f8f9fa)};

		--color-dark: #{f.hexToRgbColors(#1b1c1d)};
		--color-dark-foreground: #{f.hexToRgbColors(#f8f9fa)};
		--color-dark-accent: #{f.hexToRgbColors(#1b1c1d)};

		--color-background: #{f.hexToRgbColors(#f8f9fa)};
		--color-background-foreground: #{f.hexToRgbColors(#1b1c1d)};
		--color-background-accent: #{f.hexToRgbColors(#e2e2e2)};
		--color-background-accent: #{f.hexToRgbColors(#ffffff)};

		// * Colors
		--color-primary: #{f.hexToRgbColors(#c5edff)};
		--color-primary-accent: #{f.hexToRgbColors(#00497b)};
		--color-primary-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-secondary: #{f.hexToRgbColors(#dee3e7)};
		--color-secondary-accent: #{f.hexToRgbColors(#4b5563)};
		--color-secondary-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-success: #{f.hexToRgbColors(#C8FFD8)};
		--color-success-accent: #{f.hexToRgbColors(#004d40)};
		--color-success-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-info: #{f.hexToRgbColors(#c5edff)};
		--color-info-accent: #{f.hexToRgbColors(#00497b)};
		--color-info-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-warning: #{f.hexToRgbColors(#FFEDCC)};
		--color-warning-accent: #{f.hexToRgbColors(#A23800)};
		--color-warning-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-danger: #{f.hexToRgbColors(#FFD6D6)};
		--color-danger-accent: #{f.hexToRgbColors(#750000)};
		--color-danger-foreground: #{f.hexToRgbColors(#1b1c1d)};

		--color-help: #{f.hexToRgbColors(#d3c5ff)};
		--color-help-accent: #{f.hexToRgbColors(#4b0082)};
		--color-help-foreground: #{f.hexToRgbColors(#1b1c1d)};

		// * Util Colors
		--color-border: #{f.hexToRgbColors(#dfe6e9)};
		--color-input: #{f.hexToRgbColors(#dfe6e9)};

		// * Chart Colors

		.dark {
			--color-background: #{f.hexToRgbColors(#1b1c1d)};
			--color-background-foreground: #{f.hexToRgbColors(#f8f9fa)};
			--color-background-accent: #{f.hexToRgbColors(#333333)};

			// * Util Colors
			--color-border: #{f.hexToRgbColors(#333333)};
			--color-input: #{f.hexToRgbColors(#333333)};
		}
	}
}
