:root {
	--color-primary: #007bff;
	--color-secondary: #7c7e80;
	--color-success: #4ade80;
	--color-info: #38bdf8;
	--color-warning: #fb923c;
	--color-help: #c492f5;
	--color-danger: #dc3545;
	--color-dark: #1b1c1d;
	--color-light: #f8f9fa;
}
